* {
  box-sizing: border-box;
}

button {
  background-color: #282c34;
  border-radius: 100px;
  box-shadow: rgba(40, 44, 52, 0.2) 0 -25px 18px -14px inset, rgba(40, 44, 52, 0.2) 0 1px 2px, rgba(40, 44, 52, 0.2) 0 2px 4px, rgba(40, 44, 52, 0.2) 0 4px 8px, rgba(40, 44, 52, 0.2) 0 8px 16px, rgba(40, 44, 52, 0.2) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-align: center;
  transition: all 250ms;
  margin: 1%;
  border: 0;
  font-size: 12px;
}

button:hover {
  color: #61dafb;
  box-shadow: rgba(97, 218, 251, 0.35) 0 -25px 18px -14px inset, rgba(97, 218, 251, 0.35) 0 1px 2px, rgba(97, 218, 251, 0.35) 0 2px 4px, rgba(97, 218, 251, 0.35) 0 4px 8px, rgba(97, 218, 251, 0.35) 0 8px 16px, rgba(97, 218, 251, 0.35) 0 16px 32px;
  transform: scale(1.05);
}

.App {
  text-align: center;
  margin-top: 7%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#navbar {
  position: fixed;
  top: 0%;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  background-color: #61dafb;
  padding: 1%;
  z-index: 998;
}

#navbar a {
  padding: 1rem;
  background-color: #282c34;
  color: white;
  text-decoration: none;
  box-shadow: 3px 2px 0 0 white;
  border-radius: 5px;
}

#navbar a:hover {
  color: #61dafb;
}

#navbar a.active {
  color: #61dafb;
  animation: .5s ease-in-out press;
}

#navbar a.active:hover {
  cursor: default;
}

#widget {
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 40%;
  border: 1px solid #282c34;
}

.widget-btn {
  position: fixed;
  height: 75px;
  width: 75px;
  font-size: 40px;
  background-color: #61dafb;
  border: none;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
}

.widget-header {
  background-color: #61dafb;
}

.widget-header h2 {
  margin: 0;
}

.close-btn {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
}

.btn-grid {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
  padding: 1%;
  justify-content: space-evenly;
}

.feature-btn {
  border: 1px solid #282c34;
  color: black;
  border-radius: 5px;
  background-color: white;
}

.errors-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #13122380;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
}

.errors {
  position: absolute;
  background-color: white;
  border: 1px solid #131223;
  padding: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #131223;
  opacity: .8;
  z-index: 999;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 50%;
}

@keyframes underline {
  from {
    border-bottom: 1px solid #61dafb;
    margin: 0 50%;
  }

  to {
    border-bottom: 1px solid #61dafb;
    margin: 0;
  }
}

@keyframes press {
  from {
    box-shadow: 3px 2px 0 0 white;
  }

  50% {
    box-shadow: none;
    transform: translate(3px, 2px)
  }

  to {
    box-shadow: 3px 2px 0 0 white;
    transform: none;
  }
}