* {
  box-sizing: border-box;
}

body {
  margin: 8% auto 6%;
  text-align: center;
  font-family: Georgia, sans-serif;
}

hr {
  background: linear-gradient(to right, #8cfff4, #a58cff);
  height: 3px;
  width: 100%;
  border: none;
  margin: 0;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #282c34;
  border-radius: 100px;
  box-shadow: rgba(40, 44, 52, 0.2) 0 -25px 18px -14px inset, rgba(40, 44, 52, 0.2) 0 1px 2px, rgba(40, 44, 52, 0.2) 0 2px 4px, rgba(40, 44, 52, 0.2) 0 4px 8px, rgba(40, 44, 52, 0.2) 0 8px 16px, rgba(40, 44, 52, 0.2) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-align: center;
  transition: all 250ms;
  margin: 1%;
  border: 0;
  font-size: 12px;
}

button:hover {
  color: #61dafb;
  box-shadow: rgba(97, 218, 251, 0.35) 0 -25px 18px -14px inset, rgba(97, 218, 251, 0.35) 0 1px 2px, rgba(97, 218, 251, 0.35) 0 2px 4px, rgba(97, 218, 251, 0.35) 0 4px 8px, rgba(97, 218, 251, 0.35) 0 8px 16px, rgba(97, 218, 251, 0.35) 0 16px 32px;
  transform: scale(1.05);
}

#header {
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  background-color: white;
  z-index: 997;
}

.header-img {
  width: 170px;
  height: auto;
}

#navbar {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1%;
}

#navbar a {
  padding: 1rem .5rem;
  background-color: #282c34;
  width: 12%;
  color: white;
  text-decoration: none;
  box-shadow: 3px 2px 0 0 #a58cff;
  border-radius: 5px;
}

#navbar a:hover {
  color: #61dafb;
}

#navbar a.active {
  color: #61dafb;
  animation: .5s ease-in-out press;
}

#navbar a.active:hover {
  cursor: default;
}

#widget {
  position: fixed;
  background-color: white;
  bottom: 5%;
  right: 3%;
  height: 45%;
  border: 1px solid #61dafb;
  border-top: none;
  border-radius: 5px;
  box-shadow: 1px 1px #a58cff;
  z-index: 997;
}

.widget-btn {
  position: fixed;
  text-align: center;
  height: 70px;
  width: 70px;
  font-size: 2.5em;
  background-color: #a58cff;
  border: none;
  border-radius: 50%;
  bottom: 5%;
  right: 3%;
  z-index: 997;
}

.widget-header {
  background-color: #282c34;
  border-radius: 5px 5px 0 0;
}

.widget-header h2 {
  margin: 0;
  color: white;
}

.close-btn {
  background-color: #282c34;
  color: #a58cff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
}

.close-btn:hover {
  color: #61dafb;
  box-shadow: none;
}

.btn-grid {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
  padding: 1%;
  justify-content: space-evenly;
}

.feature-btn {
  border: 1px solid #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-radius: 5px;
  background-color: #a58cff;
  min-height: 70px;
}

.icon {
  font-size: 1.5em;
}

.errors-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #13122380;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
}

.errors {
  position: absolute;
  background-color: white;
  border: 1px solid #131223;
  padding: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.loading-wrapper {
  width: 50%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
  z-index: 999;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

#home p {
  width: 50%;
  margin: 1% auto;
  border: 2px solid linear-gradient(to right, #8cfff4, #a58cff);
  line-height: 1.5em;
}

#home span {
  color: #61dafb;
  font-weight: bold;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  gap: 1%;
}

.image-link {
  border: 1px solid #282c34;
  box-shadow: 3px 2px #a58cff;
  border-radius: 5px;
}

.image-link h2 {
  background-color: #282c34;
  color: white;
  margin: -1% auto 0;
}

.image-link:hover {
  transform: translate(2px, 3px);
}

.home-img {
  max-width: 500px;
  width: auto;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.filter-container {
  margin: 0 auto;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
}

.filter-input {
  width: 90%;
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.course-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10%;
  padding-top: 2px;
  justify-content: space-evenly;
  overflow: auto;
}

.course-card {
  border: 1px solid #61dafb;
  border-top: none;
  border-radius: 5px;
  box-shadow: 1px 1px #a58cff;
  width: 30%;
  height: 30vh;
  margin: 0 1% 1%;
}

.course-card:hover {
  cursor: pointer;
  transform: translateY(-1%);
}

.course-card h4 {
  background-color: #282c34;
  border-radius: 5px 5px 0 0;
  color: white;
  margin: 0;
  padding: 1%;
}

.card-body {
  padding: 2%;
  max-height: 80%;
  overflow: auto;
}

.course {
  margin: 0 auto;
}

.course-content {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 2%;
  box-shadow: 1px 1px #a58cff;
  line-height: 1.5em;
}

#dashboard {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: auto;
  width: 90%;
}

#dashboard button {
  width: 50%;
  margin: 0 auto;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
}

#my-courses {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-end;
  width: 80%;
  margin: 0 auto;
}

.bottom-nav a {
  text-decoration: none;
  color: #a58cff;
}

.bottom-nav a:hover {
  color: #282c34;
}

.bottom {
  display: flex;
  width: 80%;
  margin: 0 auto;
  font-size: .8em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mini-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10%;
}

.mini-nav a {
  color: #282c34;
  text-decoration: none;
}

.mini-nav a:hover {
  color: white;
}

/* image carousel css */
.slideshow {
  margin: auto;
  width: 50vw;
  aspect-ratio: calc(16 / 9);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.prev-btn {
  position: absolute;
  background-color: #282c34;
  top: 50%;
  left: 16px;
}

.next-btn {
  position: absolute;
  background-color: #282c34;
  top: 50%;
  right: 16px;
}

.prev-btn:hover {
  transform: none;
  box-shadow: none;
}

.next-btn:hover {
  transform: none;
  box-shadow: none;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@keyframes underline {
  from {
    border-bottom: 1px solid #61dafb;
    margin: 0 50%;
  }

  to {
    border-bottom: 1px solid #61dafb;
    margin: 0;
  }
}

@keyframes press {
  from {
    box-shadow: 3px 2px 0 0 #a58cff;
  }

  50% {
    box-shadow: none;
    transform: translate(3px, 2px)
  }

  to {
    box-shadow: 3px 2px 0 0 #a58cff;
    transform: none;
  }
}