* {
  box-sizing: border-box;
}

body {
  margin: 7% auto 1%;
  text-align: center;
}

button {
  background-color: #282c34;
  border-radius: 100px;
  box-shadow: rgba(40, 44, 52, 0.2) 0 -25px 18px -14px inset, rgba(40, 44, 52, 0.2) 0 1px 2px, rgba(40, 44, 52, 0.2) 0 2px 4px, rgba(40, 44, 52, 0.2) 0 4px 8px, rgba(40, 44, 52, 0.2) 0 8px 16px, rgba(40, 44, 52, 0.2) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-align: center;
  transition: all 250ms;
  margin: 1%;
  border: 0;
  font-size: 12px;
}

button:hover {
  color: #61dafb;
  box-shadow: rgba(97, 218, 251, 0.35) 0 -25px 18px -14px inset, rgba(97, 218, 251, 0.35) 0 1px 2px, rgba(97, 218, 251, 0.35) 0 2px 4px, rgba(97, 218, 251, 0.35) 0 4px 8px, rgba(97, 218, 251, 0.35) 0 8px 16px, rgba(97, 218, 251, 0.35) 0 16px 32px;
  transform: scale(1.05);
}

#header {
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  background-color: white;
}

.header-img {
  width: 170px;
  height: auto;
}

#navbar {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1%;
  z-index: 998;
}

#navbar a {
  padding: 1rem;
  background-color: #282c34;
  color: white;
  text-decoration: none;
  box-shadow: 3px 2px 0 0 #a58cff;
  border-radius: 5px;
}

#navbar a:hover {
  color: #61dafb;
}

#navbar a.active {
  color: #61dafb;
  animation: .5s ease-in-out press;
}

#navbar a.active:hover {
  cursor: default;
}

#widget {
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 40%;
  border: 1px solid #282c34;
  border-radius: 5px;
}

.widget-btn {
  position: fixed;
  height: 75px;
  width: 75px;
  font-size: 40px;
  background-color: #a58cff;
  border: none;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
}

.widget-header {
  background-color: #282c34;
}

.widget-header h2 {
  margin: 0;
  color: white;
}

.close-btn {
  background-color: #282c34;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
}

.btn-grid {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
  padding: 1%;
  justify-content: space-evenly;
}

.feature-btn {
  border: 1px solid #282c34;
  color: black;
  border-radius: 5px;
  background-color: white;
}

.errors-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #13122380;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
}

.errors {
  position: absolute;
  background-color: white;
  border: 1px solid #131223;
  padding: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.loading-wrapper {
  width: 50%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
  z-index: 999;
}

.course-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10%;
  justify-content: space-evenly;
}

.course-card {
  border: 1px solid #61dafb;
  border-top: none;
  border-radius: 5px;
  box-shadow: 1px 1px #a58cff;
  width: 30%;
  height: 25vh;
  margin: 0 1% 1%;
}

.course-card:hover {
  cursor: pointer;
  transform: translateY(-1%);
}

.course-card h3 {
  background-color: #282c34;
  border-radius: 5px 5px 0 0;
  color: white;
  margin: 0;
  padding: 1%;
}

.card-body {
  padding: 2%;
  height: min(95%, 20vh);
  overflow: auto;
}

.course {
  margin: 0 auto;
}

.course-content {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 2%;
  box-shadow: 1px 1px #a58cff;
}

#dashboard {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 90%;
}

#profile {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#my-courses {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  width: 75%;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

@keyframes underline {
  from {
    border-bottom: 1px solid #61dafb;
    margin: 0 50%;
  }

  to {
    border-bottom: 1px solid #61dafb;
    margin: 0;
  }
}

@keyframes press {
  from {
    box-shadow: 3px 2px 0 0 #a58cff;
  }

  50% {
    box-shadow: none;
    transform: translate(3px, 2px)
  }

  to {
    box-shadow: 3px 2px 0 0 #a58cff;
    transform: none;
  }
}